<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<!-- 连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
		password="${rabbitmq.passwd}" virtual-host="${rabbitmq.vhost}" />
	
	<rabbit:admin connection-factory="connectionFactory"/>	
	
	<!-- 定义队列 -->
	<rabbit:queue name="taotao-cart-login" auto-declare="true"/>
	<rabbit:queue name="taotao-cart-order-success" auto-declare="true"/>
	
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="loginCartHandler" method="handler" queues="taotao-cart-login"/>
		<rabbit:listener ref="orderSuccessHandler" method="handler" queues="taotao-cart-order-success"/>
	</rabbit:listener-container>	

</beans>
